/* Navbar */

.navbar {
    position: relative;
    z-index: 1;
}

.navbar {
    position: absolute;
    left: 0%;
    right: 0%;
    top: -0.03%;
    bottom: 90.66%;
    background: rgba(0, 0, 0, 0.5);
}

.navbar-brand {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    margin-right: 250px;
    padding-left: 100px;
}

.nav-link {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 20px;
}

.nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid yellow;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
}

.navbar-nav {
    margin-right: 100px;
}

/* Jumbotron */

.jumbotron {
    background-image: url(img/Group\ 1.png);
    background-size: cover;
    width: 100%;
    height: 960px;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    position: relative;
    margin-bottom: -2px;
}

.jumbotron .container {
    z-index: 1;
    position: relative;
}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
}

.jumbotron .display-4 {
    color: white;
    margin-top: 250px;
    font-size: 72px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
}

.jumbotron .lead {
    margin-top: 55px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.jumbotron .tombol {
    margin-top: 55px;
    font-weight: bold;
    height: 60px;
    width: 320px;
}

.bottom-jumbotron h6 {
    color: white!important;
    position: absolute;
    bottom: 4rem;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
    z-index: 2;
    left: 0;
    right: 0;
    margin: auto;
}

.bottom-jumbotron svg {
    position: absolute;
    bottom: 3rem;
    z-index: 2;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
}

.bottom-jumbotron svg:hover {
    fill: white;
}

/* SLIDE 2 */

.slidedua {
    background-image: url(img/bg\ image\ 2.png);
    background-size: cover;
    width: auto;
    height: 960px;
    z-index: 1;
    position: relative;
}

.slide-dua-container {
    z-index: 1;
    position: relative;
    width: 80%;
}

.slidedua::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(1, 0, 0, 1), rgba(0, 0, 0, 0)), linear-gradient(to top, rgba(1, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
}

.slidedua h4 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFFFFF;
    padding-top: 250px;
}

.slidedua h2 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* Carousdel */

.carousel_utama {
    position: absolute;
    width: 858px;
    height: 477px;
    left: 453px;
    top: 318.7px;
}

.carousel-indicators li {
    margin-right: 50px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2.3px solid #FFFFFF;
    background: transparent;
}

.carousel-indicators .active {
    background-color: #fff;
}

.carousel-control-next-icon {
    position: absolute;
    margin-left: 160px;
    background-image: url('img/switchnext.svg');
}

.carousel-control-prev-icon {
    position: absolute;
    margin-right: 160px;
    background-image: url('img/switch.svg');
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    height: 50px;
}

/* Slide 3 */

.slidetiga {
    background-image: url(img/bg\ image\ 3.png);
    background-size: cover;
    height: 960px;
    z-index: 1;
    position: relative;
}

.slide-tiga-container {
    z-index: 1;
    position: relative;
    width: 40%;
}

.slidetiga::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, rgba(1, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
}

.slidetiga h4 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFFFFF;
    padding-top: 250px;
}

.slidetiga h2 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    color: #FFFFFF;
}

.slidetiga h5 {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    padding-top: 70px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFB548;
}

.slidetiga h6 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: #FFFFFF;
}

.timeline h3 {
    color: #FFB548;
}

.timeline p {
    width: 65%;
    color: white;
}

.timeline {
    list-style-type: none;
    position: relative;
}

.timeline:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    left: 8.2px;
    width: 2px;
    height: 49%;
    top: 0.95rem;
    z-index: 5;
}

.timeline>li {
    margin: 20px 0;
    margin-bottom: 5rem;
    padding-left: 20px;
}

.timeline>li:before {
    content: ' ';
    border: 2px solid white;
    background-color: transparent;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: 1.3px;
    width: 16px;
    height: 16px;
    z-index: 5;
}

li.timelineactive::before {
    background-color: white!important;
}

/* Slide 4 */

.slideempat {
    background-image: url(img/bg\ image\ 4.png);
    background-size: cover;
    width: auto;
    height: 960px;
    z-index: 1;
    position: relative;
}

.slide-empat-container {
    z-index: 1;
    position: relative;
    width: 80%;
}

.slideempat::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(1, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
}

.slideempat h1 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 10%;
    text-align: left;
    width: 20%;
}

.slideempat h4 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFFFFF;
    align-items: center;
    margin-top: -150px;
    text-align: center;
}

.tabel-container {
    margin-top: 15rem;
    width: 50%;
}

.col-sm {
    border: 1px solid #363636;
    padding: 1rem;
}

.judul {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFB548;
}

.deskripsi {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;
}

/* Slide 5 */

.slidelima {
    background-image: url(img/bg\ image\ 5.png);
    background-size: cover;
    width: auto;
    height: 1000px;
    z-index: 1;
    position: relative;
}

.slide-lima-container {
    z-index: 1;
    position: relative;
    width: 90%;
    padding: 1rem;
    padding-top: 10%;
}

.slidelima::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, rgba(1, 0, 0, 1), rgba(0, 0, 0, 0)), linear-gradient(to bottom, rgba(1, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
}

.textlima {
    margin-top: -30rem;
    width: 25%;
}

.slidelima h1 {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.slidelima h5 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */
    color: #FFFFFF;
    padding-bottom: 20px;
}

.slidelima .tombol {
    font-weight: bold;
    height: 60px;
    width: 300px;
}

.quotesatu {
    position: relative;
    align-items: right;
    margin-top: 0px;
    text-align: right;
    padding: 1rem;
}

.quotedua {
    position: relative;
    align-items: right;
    text-align: right;
    margin-right: 20rem;
    padding: 1rem;
}

.quotetiga {
    position: relative;
    align-items: right;
    text-align: right;
    padding: 1rem;
}

/* Slide 6 */

.slideenam {
    background-color: #080A0B;
    height: 960px;
    position: relative;
    color: white;
}

.slide-enam-container {
    width: 80%;
    height: 100%;
    position: relative;
}

.block{
    position: absolute;
    top: 20%;
}

.backimg {
    background: radial-gradient(45.43% 53.19% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #080A0B 99.74%), url(img/image.png);
    background-position: center;
    width: 50%;
    height: 694.41px;
    background-repeat: no-repeat;
}

.text {
    width: 50%;
    text-align: justify;
}

.text h1 {
    font-weight: bold;
    font-size: 5rem
}

.text h3 {
    font-size: 1.3rem;
}

.text p {
    font-size: 1.4rem;
}

.tombol {
    color: black;
    width: 100%;
    font-weight: bold;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
}

.email {
    background: rgba(255, 255, 255, 0.08);
    width: 366.92px;
    height: 60px;
    left: 675.92px;
    top: 510.7px;
    border-radius: 5px;
}

.email:focus {
    background: rgba(255, 255, 255, 0.08);
    color: #FFB548;
    box-shadow: none;
    border: none;
}


/* FOOTER */
footer{
    background-color: #080A0B;
    height: 135px;
    position: relative;
    color: white;
}
.footer-container {
    width: 80%;
}

footer ul {
    list-style: none;
}

footer ul li {
    margin-right: 2.5rem;
    text-transform: uppercase;
}

footer ul li a {
    text-decoration: none;
    color: white;
}

footer ul li a:hover {
    color: white;
}

svg {
    fill: white;
}

svg:hover {
    cursor: pointer;
}

footer hr {
    background-color: white;
}

.service{
    font-family: open Sans;
    font-weight: bold;
}

.copyright {
    opacity: 0.5;
}



/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}